# Data Types and Structures Questions

Question no. 1 What are data structures, and why are they important

Answer: Data structures are specific ways of organizing, managing, and storing data in a computer so that it can be used efficiently.They define the relationship between data and the operations that can be performed on the data.

### why are they important
- Efficient Data Management
- Optimizing Performance
- Problem Solving
- Code Reusability and Modularity
- Memory Management

Question no. 2 Explain the difference between mutable and immutable data types with examples

Answer:
### Mutable Data type:
Mutable data types are those whose values can be changed in place after creation. This means you can modify, update, or change the internal state of the object without creating a new object.

Example: List, Dict, Sets

###Imutable Data types:
Immutable data types are those whose values can not be changed in place after creation. This means you can not modify, update, or change the internal state of the object after creation.

Example: Strings, Tuple

Question no. 3 What are the main differences between lists and tuples in Python

Answer:
The main difference in lists and tuples are that lists are mutable we can change the value in list after creation. Talking about tuples we can not change the value of tuples after creation. In tuple we use paranthesis and in list we use square brackets.

Question no. 4  Describe how dictionaries store data

Answer: A dictionary in Python is a collection of key-value pairs, where each key is unique, and each key maps to a corresponding value.

In [11]:
# Dict
dict = {"name":"Shreya"}
print(dict)
print(dict["name"])

{'name': 'Shreya'}
Shreya

Question no. 5  Why might you use a set instead of a list in Python

Answer: Sets automatically enforce uniqueness. If you need to store only unique elements and want to avoid duplicates, a set is the perfect choice.

Lists, on the other hand, allow duplicate elements.

In [12]:
# Here are some example for set and lists
set ={5,10,10,10,5,"Shreya", "Shreya"}
print(set)

{10, 5, 'Shreya'}

In [13]:
list= [5,10,10,10,5,"Shreya", "Shreya"]
print(list)

[5, 10, 10, 10, 5, 'Shreya', 'Shreya']

Question no. 6 P What is a string in Python, and how is it different from a list

Answer: In Python, a string is a sequence of characters. Strings are used to store and manipulate text data. A string can contain letters, digits, symbols, and even spaces. Strings are enclosed in either single quotes ('), double quotes ("), or triple quotes (''' or """) for multi-line strings.
strings are immutable.

On the other hand list are the collection of elements (can be of any data type).
and it is mutable.

Question no. 7 How do tuples ensure data integrity in Python.

Answer:Tuples ensure data integrity in Python primarily due to their immutable nature. Once a tuple is created, its elements cannot be modified (added, removed, or changed), which provides several benefits for preserving the integrity of data.It ensure Consistency with Fixed Structure Data

Question no. 8 What is a hash table, and how does it relate to dictionaries in Python

Answer: A hash table (also known as a hash map) is a data structure that stores key-value pairs. It allows for fast retrieval of values based on their associated keys by using a hashing function. The hashing function takes a key and converts it into a numerical value called a hash code or hash value. This hash value is used to determine the index (or bucket) in the table where the value will be stored.

In simple terms, a hash table:

- Maps keys to values.
- Uses a hash function to compute an index where the key-value pair is stored.
- Allows for fast lookups, insertions, and deletions, typically with a time complexity of O(1) on average.

### Key Characteristics of Dictionaries
- Key-Value Pair Storage
- Hash Function
- Immutability of Keys
- Efficiency

Question no. 9 Can lists contain different data types in Python

Answer:
Yes, List is the collection of element.it can store any data type.

In [14]:
# Example:
list= [5,10,10,10,5,"Shreya", "Shreya"]
print(list)

[5, 10, 10, 10, 5, 'Shreya', 'Shreya']

Question no. 10  Explain why strings are immutable in Python.

Answer: Strings in Python are immutable, meaning once a string object is created, it cannot be changed. There are several reasons for this design choice, including efficiency, security, and simplicity.

Question no. 11 What advantages do dictionaries offer over lists for certain tasks

Answer:
Dictionaries in Python offer several advantages over lists for certain tasks due to their underlying structure and capabilities. Here’s a breakdown of why you might choose a dictionary over a list:
- Fast Lookups by Key
- Key-Value Pairs
- No Need for Sequential Indexing
- Handling Unordered Data
- Uniqueness of Keys
- Better Representation of Complex Relationships

Question no. 12 Describe a scenario where using a tuple would be preferable over a list

Answer: A tuple would be preferable over a list in scenarios where immutability and data integrity are important, meaning you want to ensure the data cannot be changed after its creation. Here’s an example scenario:
### Scenario: Storing Fixed GPS Coordinates
gps_coordinates = (40.7128, -74.0060)

In [ ]:
gps_coordinates = (40.7128, -74.0060) # # Latitude and Longitude of New York City

### For Aadhar card PAN card, Employee ID in these case we can not change the the value after creation so we use tuple.

Question no. 13 How do sets handle duplicate values in Python?.

Answer: In Python, sets automatically handle duplicate values by ensuring that each element in the set is unique. When you add items to a set, Python eliminates any duplicates for you, and only one instance of each unique element is stored.

Question no. 14 How does the “in” keyword work differently for lists and dictionaries.

Answer: The in keyword is used in Python to check for the existence of an element within a collection. It works differently for lists and dictionaries based on how each data structure stores its elements.
- When used with a list, the in keyword checks if a specific value exists in the list.
- When used with a dictionary, the in keyword checks for the presence of a key (not a value).

Question no. 15 Can you modify the elements of a tuple? Explain why or why not.

Answer: No, you cannot modify the elements of a tuple in Python because tuples are immutable. This immutability means that once a tuple is created, its contents (the individual elements) cannot be changed, added to, or removed.

Question no. 16 What is a nested dictionary, and give an example of its use case.

Answer: A nested dictionary in Python is a dictionary where the values themselves can be dictionaries. This allows for the creation of a hierarchical or nested structure, which is useful for organizing data with multiple layers of keys and values.

Example:
A common use case for nested dictionaries is to represent structured or hierarchical data, such as a database of employees in an organization, where each employee has multiple attributes like their name, age, and job title, organized under different departments.

In [16]:
company = {
    "Sales": {
        "John Doe": {"age": 30, "position": "Sales Manager", "salary": 75000},
        "Jane Smith": {"age": 25, "position": "Sales Executive", "salary": 50000},
    },
    "Engineering": {
        "Alice Johnson": {"age": 35, "position": "Senior Engineer", "salary": 90000},
        "Bob Brown": {"age": 28, "position": "Junior Engineer", "salary": 60000},
    },
}

# Accessing data from the nested dictionary
print(company["Sales"]["John Doe"]["position"])  # Output: Sales Manager
print(company["Engineering"]["Alice Johnson"]["salary"])  # Output: 90000

Sales Manager
90000

Question no. 17  Describe the time complexity of accessing elements in a dictionary.

Answer: The time complexity of accessing elements in a dictionary in Python depends on the operation being performed, but for basic key-based access, it is typically O(1), or constant time.
### Average Case:
- In the average case, accessing an element in a dictionary (using a key) takes constant time, O(1).
- This is because Python dictionaries are implemented using a hash table. When you try to access an element using its key, Python computes the hash of the key and uses that to locate the value directly in the underlying hash table, making the access very fast, regardless of the size of the dictionary.
### Worst Case
- In the worst case, accessing an element in a dictionary can take O(n), where n is the number of elements in the dictionary.
- This happens in rare cases due to hash collisions, where multiple keys hash to the same location in the hash table. In such cases, Python resolves the collision by chaining or probing, which may require searching through a list of items, making the access slower.
- However, Python uses an efficient hashing algorithm, and hash collisions are rare in practice, so the worst case does not happen often.

Question no. 18 In what situations are lists preferred over dictionaries?

Answer:
Lists are preferred over dictionaries in Python in certain situations where their characteristics—ordered, index-based, and allowing duplicates—make them more suitable.

Question no. 19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer: Dictionaries in Python were traditionally considered unordered because their underlying implementation (a hash table) does not store data in a specific, predictable order. The keys and values in a dictionary were stored based on the hash values of the keys, which could vary and depend on internal factors.
### Impact on Data Retrieval
- Unpredictable Iteration
- Order-Insensitive Operations
- Insertion Order Matters in Python 3.7+

Question no. 20 Explain the difference between a list and a dictionary in terms of data retrieval.

Answer: The main differences between lists and dictionaries in terms of data retrieval are based on how they store and access data, their internal structures, and the way they are indexed. Let's break down the differences:
## 1. Accessing Data: Index vs. Key
### List:

- Index-based retrieval.
- Elements in a list are accessed by their position (index), which is an integer representing the position of the element.
- List indices are zero-based, meaning the first element has an index of 0.
### Dictionary:

- Key-based retrieval.
- In a dictionary, data is stored as key-value pairs, and elements are accessed using a key, not a numeric index.
- The key can be any immutable data type (like a string, number, or tuple), and each key must be unique.

# Practical Question :

Question no. 1 Write a code to create a string with your name and print it?

In [18]:
user_input = input("Enter tha name : ")
print(user_input)

Enter tha name : Shreya
Shreya

Question no. 2 Write a code to find the length of the string "Hello World".

In [20]:
string = "Hello World"
len(string)

11

Question no. 3 Write a code to slice the first 3 characters from the string "Python Programming"?

In [22]:
s = "Python Programming"
s[0:3]

'Pyt'

Question no. 4 Write a code to convert the string "hello" to uppercase?

In [23]:
s = "hello"
s.upper()

'HELLO'

Question no. 5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [24]:
s = "I like apple"
s.replace("apple","orange")

'I like orange'

Question no. 6 Write a code to create a list with numbers 1 to 5 and print it.

In [26]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

Question no. 7 Write a code to append the number 10 to the list [1, 2, 3, 4].

In [30]:
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

Question no. 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [31]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

Question no 9  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [32]:
l = ['a','b','c','d']
l[1]

'b'

Question no. 10  Write a code to reverse the list [10, 20, 30, 40, 50].

In [34]:
l = [10,20,30,40,50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

Question no. 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [35]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

Questiion no. 12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [36]:
tuple = ("red", "green","blue", "yellow")
tuple[1]

'green'

Question no. 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [40]:
tuple = (10,20,5,15)
min(tuple)

5

Question no. 14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [42]:
t = ('dog', 'cat', 'rabbit')
t[1]

'cat'

Question no. 15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [43]:
l = ['Orange', 'Apple', 'kiwi']
'kiwi' in l

True

Question no 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [44]:
set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

Question no. 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [47]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

Question no. 18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [51]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

Question no. 19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [53]:
s1 = {1,2,3}
s2 = {3,4,5}
print(s1|s2)

{1, 2, 3, 4, 5}

Question no. 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [54]:
s1 = {1,2,3}
s2 = {2,3,4}
print(s1&s2)

{2, 3}

Question no. 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [60]:
dict = {"name":"Shreya", "age":"23", "city":"jaunpur"}
print(dict)

{'name': 'Shreya', 'age': '23', 'city': 'jaunpur'}

Question no. 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [68]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Question no. 23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [70]:
dict = {'name':'Alice', 'age':'30'}
dict['name']

'Alice'

Question no. 24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [71]:
set = {'name': 'Bob', 'age': 22, 'city': 'New York'}
set['age']

22

Question no. 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [72]:
set = {'name': 'Alice', 'city': 'Paris'}
set['city']

'Paris'

Question no. 26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [73]:
l = [2,3,4,5]
print(l)
dict = {'name':'Shreya'}
print(dict)
tuple = (2,3,4,5)
print(tuple)

[2, 3, 4, 5]
{'name': 'Shreya'}
(2, 3, 4, 5)

Question no. 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [75]:
l = [85,56,74,15,63]
l.sort()
print(l)

[15, 56, 63, 74, 85]

Question no. 28 Write a code to create a list with strings and print the element at the third index.

```
# This is formatted as code
```

In [76]:
l = ["Shreya", "Asmita","Shikha"]
l[2]

'Shikha'

Question no. 29 Write a code to combine two dictionaries into one and print the result.

In [80]:
dic1 = {"name":"Shreya"}
dic2 = {"office":"Ericsson"}
sum = {**dic1, **dic2}
print(sum)

{'name': 'Shreya', 'office': 'Ericsson'}

Question no. 30 Write a code to convert a list of strings into a set.

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'apple','orange']
my_dict = set(my_list)
print(my_dict)
# it is showimg error because of external problem but the code is correct